<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Josearch</title>
</head>
<body>

{% if username %}
    <p> {{ username }} Welcome!</p>
{% else %}
    <p> You are not logged on yet! Please log in or sign up a new account</p>
{% endif %}
<form action="../search/" method="post">
    {% csrf_token %}
    <label for="keyword"> Input keyword:</label> <br>
    <input type="text" id="keyword" name="keyword"> <br>
    <input type="submit" value = "Search">
</form>
<form action="../login/" method="get">
    {%  csrf_token %}
    <input type="submit" value = "Login">
</form>
<form action="../logout/" method="post">
    {%  csrf_token %}
    <input type="submit" value = "Logout">
</form>
<form action="../register/" method="get">
    {%  csrf_token %}
    <input type="submit" value = "Sign Up">
</form>
</body>
</html>