<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="../login/" method="post">
    {% csrf_token %}
    {% if error_message %}
        <p> {{ error_message}} </p>
    {% endif %}
    <label for="username">Username: </label> <br>
    <input type="text" id="username" name="username"> <br>
    <label for="password">Password: </label> <br>
    <input type="text" id="password" name="password"> <br>
    <input type="submit" value="login">
</form>
</body>
</html>